@use './../variables' as *;
@use './../mixins' as *;

.features {
    height: 65vh;

    &__subtitle {
        @include typography($archivoFont, 700,
            $black-77, .875rem, 100%, 2.8px);
        text-align: center;
    }

    &__title {
        @include typography($oldStandardTTFont, 400,
            $black-22, 3.5rem, 3.75rem, -1.2px);
        text-align: center;
        margin-top: 1.25rem;
    }
}

.features-swiper {
    height: 23.125rem;

    // Mantener las clases de SwiperJS
    &.swiper {
        // Estilos específicos del contenedor Swiper
    }

    &__wrapper.swiper-wrapper {
        // Estilos para el wrapper
    }

    &__slide.swiper-slide {
        // Estilos para cada slide

        .features-swiper__image {
            &--transparent {
                margin-left: 15rem;
                margin-top: 2rem;
            }
        }

        .features-swiper__icon {
            margin-left: 3rem;
        }

        .features-swiper__title {
            @include typography($oldStandardTTFont, 400, $black-22, 1.875rem, 1.875rem, -0.9px);
            margin-left: 2rem;
            margin-top: 4rem;
        }

        .features-swiper__description {
            @include typography($archivoFont, 400, $black-77, 0.875rem, 1.5rem, 0px);
            margin-left: 2rem;
            margin-top: 1.7537rem;
            width: 15.625rem;
        }
    }

         &__pagination.swiper-pagination {
        .swiper-pagination-bullet-active {
            background-color: rgb(189, 172, 141) !important;
        }
    } 
}